
<ul class="pyramid">
  <li>TOP<br>{{product.metafields.p-sha.topnote}}</li>
    <li>MIDDLE<br>{{product.metafields.p-sha.middlenote}}</li>
    <li>LAST<br>{{product.metafields.p-sha.lastnote}}</li>
</ul>
<style>
.pyramid {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    width: calc(6em * 3);
    list-style: none;
    font-size: 1rem;
}
.pyramid > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
}
.pyramid > li + li {
    border-top: 2px solid #fff;
}
.pyramid > li::before {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-position: top -2px left 1px, top -2px right 1px;
    background-size: 50% calc(6em * 3);
    background-repeat: no-repeat;
    content: "";
}
.pyramid > li:nth-of-type(1)::before {
    z-index: -1;
    height: calc(6em * 1);
    background-image:
        linear-gradient(to bottom right, transparent 50%, {{product.metafields.p-sha.topnote-color}} 50%),
        linear-gradient(to bottom left, transparent 50%, {{product.metafields.p-sha.topnote-color}} 50%);
}
.pyramid > li:nth-of-type(2)::before {
    z-index: -2;
    height: calc(6em * 2);
    background-image:
        linear-gradient(to bottom right, transparent 50%, {{product.metafields.p-sha.middlenote-color}} 50%),
        linear-gradient(to bottom left, transparent 50%, {{product.metafields.p-sha.middlenote-color}} 50%);
}
.pyramid > li:nth-of-type(3)::before {
    z-index: -3;
    height: calc(6em * 3);
    background-image:
        linear-gradient(to bottom right, transparent 50%, {{product.metafields.p-sha.lastnote-color}} 50%),
        linear-gradient(to bottom left, transparent 50%, {{product.metafields.p-sha.lastnote-color}} 50%);
}
</style>
