
<div class="scent">
  <h3 class="scent__title"> 【{{product.metafields.p-sha.scent-title}} 】</h3>
  <p class="scent__description" >
  {{-product.metafields.p-sha.scent-description | metafield_tag}}
  </p>
  
  <ul class="pyramid">
      <li>TOP<br>{{product.metafields.p-sha.topnote}}</li>
      <li>MIDDLE<br>{{product.metafields.p-sha.middlenote}}</li>
      <li>LAST<br>{{product.metafields.p-sha.lastnote}}</li>
  </ul>
</div>
<style>
.pyramid > li:nth-of-type(1)::before {
    background-image:
        linear-gradient(to bottom right, transparent 50%, {{product.metafields.p-sha.topnote-color}} 50%),
        linear-gradient(to bottom left, transparent 50%, {{product.metafields.p-sha.topnote-color}} 50%);
}
.pyramid > li:nth-of-type(2)::before {
    background-image:
        linear-gradient(to bottom right, transparent 50%, {{product.metafields.p-sha.middlenote-color}} 50%),
        linear-gradient(to bottom left, transparent 50%, {{product.metafields.p-sha.middlenote-color}} 50%);
}
.pyramid > li:nth-of-type(3)::before {
    background-image:
        linear-gradient(to bottom right, transparent 50%, {{product.metafields.p-sha.lastnote-color}} 50%),
        linear-gradient(to bottom left, transparent 50%, {{product.metafields.p-sha.lastnote-color}} 50%);
}
</style>
